<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>AIO | Much More Than An App</title>
    {% endblock %}

    {% block extra__css %}
        <link rel="stylesheet" href="{% static 'pages/css/index.css' %}">

    {% endblock %}

 </head>
<body>

    {% block content %}

    <!-- Hero -->
    <div class="hero__container">
        <div class="hero__info">
            <div class="hero__top"> Not Just Another App </div>
            <div class="hero__middle"> Available Now </div>
            <div class="hero__img__container">
                <img src="{% static 'pages/img/play-store.png' %}" alt="play-store">
                <img src="{% static 'pages/img/app-store.png' %}" alt="app-store">
            </div>
        </div>
        <img src="{% static 'pages/img/directions.svg' %}" alt="hero-img">
    </div>

    <!-- Info -->
    <div class="info__container">
        <div class="info__card">
            <img src="{% static 'pages/img/search.png' %}" alt="info-img">
            <p> Search For What You Want </p>
        </div>
        <div class="info__card">
            <img src="{% static 'pages/img/list.png' %}" alt="info-img">
            <p> Select your Desired Place </p>
        </div>
        <div class="info__card">
            <img src="{% static 'pages/img/book.png' %}" alt="info-img" style="margin-left: 0">
            <p> Know All About It </p>
        </div>
    </div>

    <!-- Details -->
    <div class="details__container" >
        <img data-aos="fade" class="animate__animated animate__fadeInUp" src="{% static 'pages/img/AIO1.png' %}" alt="details-img">
        <div class="details__wrapper" >
            <div  data-aos="fade" class="details__head animate__animated animate__fadeInUp"> Only App You Need </div>
            <div  data-aos="fade" class="detials__info animate__animated animate__fadeInUp"> Some Line </div>
        </div>
    </div>

    <!-- Stores -->
    <div class="store__container">
        <h1 data-aos="fade" > Featured Stores </h1>
        <div class="store__wrapper">
            {% for store in stores %}
            <div class="store__card animate__animated animate__fadeInUp" data-aos="fade">
                <img src="{{ store.img.url }}" alt="store-logo">
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- FAQ -->
    <div class="faq__container">
        <div id="accordion">
          <div class="card">
            <div class="faq__title" id="headingOne" data-aos="fade">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="faq__info">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="faq__title" id="headingTwo" data-aos="fade">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="faq__info">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="faq__title" id="headingThree" data-aos="fade">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="faq__info">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
    </div>




    {% endblock %}

    {% block extra_js %}
        <script src="{% static 'pages/js/index.js' %}" ></script>
    {% endblock %}
</body>

</html>