<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">


    <link rel="stylesheet" href="{% static 'pages/css/navbar.css' %}">


    <title>AIO</title>
</head>
<body>
    <div class="navbar__container">
        <div class="nav__logo"> <a href="/">AIO</a> </div>
        <a href="/" class="nav__link active"> Customer </a>
        <a  href="{% url 'merchant_view' %}" class="nav__link"> Merchant </a>
        <div class="nav__button">
            <a href="#"> Login </a>
        </div>
    </div>

</body>
</html>