.footer__container {
    background: #032362;
    height: 12rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.footer__card__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__card__logo {
    margin-top: 5rem;
}

.footer__logo {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.footer__link__header {
    font-size: 1.4rem;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    margin: .3rem 0;
}

.footer__link:hover {
    text-decoration: none;
}

